<div class="container my-4">
  <app-title-page [title]="title"></app-title-page>
  <div class="row justify-content-center">
    <div class="card col-md-6 shadow">
      <img
        class="card-img-top"
        src="./assets/images/home-potter.jpg"
        alt="Harry Potter"
      />
      <div class="card-body">
        <h5 class="card-title">Magician School Education</h5>
        <p class="card-text">
          El día de su cumpleaños, Harry Potter descubre que es hijo de dos
          conocidos hechiceros, de los que ha heredado poderes mágicos. Debe
          asistir a una famosa escuela de magia y hechicería, donde entabla una
          amistad con dos jóvenes que se convertirán en sus compañeros de
          aventura. Durante su primer año en Hogwarts, descubre que un malévolo
          y poderoso mago llamado Voldemort está en busca de una piedra
          filosofal que alarga la vida de quien la posee.
        </p>
        <a
          href="https://harrypotter.fandom.com/es/wiki/Harry_Potter"
          target="_blank"
          >Ver mas.</a
        >
      </div>
      <div class="card-footer">
          <a routerLink="/casas" class="btn btn-primary btn-block">Ver casas.</a>
      </div>
    </div>
  </div>
</div>
