<div class="container my-4">
  <app-title-page [title]="title"></app-title-page>
  <div class="row justify-content-center">
    <div class="card col-md-6 shadow">
      <img
        class="card-img-top"
        src="./assets/images/home-potter.jpg"
        alt="Harry Potter"
      />
      <div class="card-body">
        <h5 class="card-title">Magician School Education</h5>
        <p class="card-text">
          Es una escuela a la cual asisten jóvenes magos para desarrollar sus
          habilidades mágicas. El edificio, situado en las colinas de Escocia,
          es visto como un antiguo edificio en ruinas.
          Los estudiantes en
          Magician School Education se dividen en cuatro casas, cada una con el nombre de uno de
          los fundadores originales de la escuela. 
        </p>
        <a
          href="https://harrypotter.fandom.com/es/wiki/Harry_Potter"
          target="_blank"
          >Ver mas.</a
        >
      </div>
      <div class="card-footer">
        <a routerLink="/casas" class="btn btn-primary btn-block">Ver casas.</a>
      </div>
    </div>
  </div>
</div>
